server/nodered/flow_receive_data.json
[
    {
        "id": "70c5ec59.09af94",
        "type": "tab",
        "label": "Receive data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e81610b4.416a2",
        "type": "json",
        "z": "70c5ec59.09af94",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "a817eee.a537a1",
                "8ee8886.16e6578"
            ]
        ]
    },
    {
        "id": "9c855410.8deac8",
        "type": "serial in",
        "z": "70c5ec59.09af94",
        "name": "",
        "serial": "39690c47.535b64",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "e81610b4.416a2"
            ]
        ]
    },
    {
        "id": "8bc8c6d7.344ec8",
        "type": "inject",
        "z": "70c5ec59.09af94",
        "name": "Dummy Measurement",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Mac\":\"dummy\", \"Temp\":22, \"Hum\":73, \"Press\":1000, \"BatV\":3.3}",
        "payloadType": "str",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "e81610b4.416a2"
            ]
        ]
    },
    {
        "id": "a817eee.a537a1",
        "type": "link out",
        "z": "70c5ec59.09af94",
        "name": "Measurement in",
        "links": [
            "376ace8f.a2ebca",
            "cf474288.fdd14"
        ],
        "x": 455,
        "y": 180,
        "wires": []
    },
    {
        "id": "8ee8886.16e6578",
        "type": "debug",
        "z": "70c5ec59.09af94",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 220,
        "wires": []
    },
    {
        "id": "39690c47.535b64",
        "type": "serial-port",
        "serialport": "/dev/ttyS0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    }
]