server/nodered/flow_dashboard.json
[
    {
        "id": "bec9f419.0e14d",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "376ace8f.a2ebca",
        "type": "link in",
        "z": "bec9f419.0e14d",
        "name": "",
        "links": [
            "a817eee.a537a1"
        ],
        "x": 45,
        "y": 80,
        "wires": [
            [
                "7680a562.25c84c",
                "53eba691.f0b938",
                "ced77bf5.2936d",
                "de3fc36a.be7b18"
            ]
        ]
    },
    {
        "id": "de3fc36a.be7b18",
        "type": "function",
        "z": "bec9f419.0e14d",
        "name": "Extract Temperature",
        "func": "msg.payload = msg.payload.Temp.toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 80,
        "wires": [
            [
                "f0611fcf.ae7528"
            ]
        ]
    },
    {
        "id": "f0611fcf.ae7528",
        "type": "ui_gauge",
        "z": "bec9f419.0e14d",
        "name": "Temperature gauge",
        "group": "830d47.e8b222b8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatur",
        "label": "",
        "format": "{{value}} °C",
        "min": "-20",
        "max": "40",
        "colors": [
            "#0080c0",
            "#34e401",
            "#ff0000"
        ],
        "seg1": "15",
        "seg2": "30",
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "c6d31807.4ce3f8",
        "type": "ui_gauge",
        "z": "bec9f419.0e14d",
        "name": "Humidity gauge",
        "group": "830d47.e8b222b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luftfeuchtigkeit",
        "label": "",
        "format": "{{value}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 520,
        "y": 120,
        "wires": []
    },
    {
        "id": "3f83a83b.4b5c6",
        "type": "ui_gauge",
        "z": "bec9f419.0e14d",
        "name": "Pressure gauge",
        "group": "830d47.e8b222b8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luftdruck",
        "label": "",
        "format": "{{value}} hPa",
        "min": "900",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 520,
        "y": 160,
        "wires": []
    },
    {
        "id": "7680a562.25c84c",
        "type": "function",
        "z": "bec9f419.0e14d",
        "name": "Extract Humidity",
        "func": "msg.payload = msg.payload.Hum.toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 280,
        "y": 120,
        "wires": [
            [
                "c6d31807.4ce3f8"
            ]
        ]
    },
    {
        "id": "53eba691.f0b938",
        "type": "function",
        "z": "bec9f419.0e14d",
        "name": "Extract Pressure",
        "func": "msg.payload = Math.round(msg.payload.Press);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 280,
        "y": 160,
        "wires": [
            [
                "3f83a83b.4b5c6"
            ]
        ]
    },
    {
        "id": "ced77bf5.2936d",
        "type": "function",
        "z": "bec9f419.0e14d",
        "name": "Extract Battery Voltage",
        "func": "msg.payload = msg.payload.BatV.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "57b7fd4a.512944"
            ]
        ]
    },
    {
        "id": "57b7fd4a.512944",
        "type": "ui_gauge",
        "z": "bec9f419.0e14d",
        "name": "Battery Voltage gauge",
        "group": "830d47.e8b222b8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Batterie",
        "label": "",
        "format": "{{value}} V",
        "min": "3",
        "max": "4.2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 540,
        "y": 200,
        "wires": []
    },
    {
        "id": "830d47.e8b222b8",
        "type": "ui_group",
        "name": "Balkon",
        "tab": "8d5619df.675c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8d5619df.675c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]