server/nodered/flow_receive_data.json
[
    {
        "id": "70c5ec59.09af94",
        "type": "tab",
        "label": "Receive data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e81610b4.416a2",
        "type": "json",
        "z": "70c5ec59.09af94",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "2d2f07c2.f1951"
            ]
        ]
    },
    {
        "id": "9c855410.8deac8",
        "type": "serial in",
        "z": "70c5ec59.09af94",
        "name": "",
        "serial": "39690c47.535b64",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "e81610b4.416a2"
            ]
        ]
    },
    {
        "id": "a817eee.a537a1",
        "type": "link out",
        "z": "70c5ec59.09af94",
        "name": "Measurement in",
        "links": [
            "376ace8f.a2ebca",
            "cf474288.fdd14"
        ],
        "x": 655,
        "y": 220,
        "wires": []
    },
    {
        "id": "2d2f07c2.f1951",
        "type": "function",
        "z": "70c5ec59.09af94",
        "name": "Convert to barometric pressure",
        "func": "let elevation = global.get('elevation');\nlet p = msg.payload.Press;\n\n// See page 17 http://www.adafruit.com/datasheets/BST-BMP180-DS000-09.pdf\nmsg.payload.Press = p / Math.pow(1-(elevation/44330), 5.255);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "a817eee.a537a1"
            ]
        ]
    },
    {
        "id": "39690c47.535b64",
        "type": "serial-port",
        "serialport": "/dev/ttyS0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    }
]