server/iotstack/nodered/flow_dashboard.json
[
    {
        "id": "70c5ec59.09af94",
        "type": "tab",
        "label": "Receive data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c7f5e9a1.d21808",
        "type": "tab",
        "label": "Database",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bec9f419.0e14d",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "39690c47.535b64",
        "type": "serial-port",
        "serialport": "/dev/ttyS0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "830d47.e8b222b8",
        "type": "ui_group",
        "name": "Balkon",
        "tab": "8d5619df.675c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8d5619df.675c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3dd91bd2.9bb664",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "75ce2e37.f1061",
        "type": "influxdb",
        "hostname": "piserverjohannes.fritz.box",
        "port": "8086",
        "protocol": "http",
        "database": "Weather",
        "name": "Weather",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "e81610b4.416a2",
        "type": "json",
        "z": "70c5ec59.09af94",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "a817eee.a537a1",
                "8ee8886.16e6578"
            ]
        ]
    },
    {
        "id": "9c855410.8deac8",
        "type": "serial in",
        "z": "70c5ec59.09af94",
        "name": "",
        "serial": "39690c47.535b64",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "e81610b4.416a2"
            ]
        ]
    },
    {
        "id": "8bc8c6d7.344ec8",
        "type": "inject",
        "z": "70c5ec59.09af94",
        "name": "Dummy Measurement",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Mac\":\"dummy\", \"Temp\":22, \"Hum\":73, \"Press\":1000, \"BatV\":3.3}",
        "payloadType": "str",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "e81610b4.416a2"
            ]
        ]
    },
    {
        "id": "a817eee.a537a1",
        "type": "link out",
        "z": "70c5ec59.09af94",
        "name": "Measurement in",
        "links": [
            "376ace8f.a2ebca",
            "cf474288.fdd14"
        ],
        "x": 455,
        "y": 180,
        "wires": []
    },
    {
        "id": "376ace8f.a2ebca",
        "type": "link in",
        "z": "bec9f419.0e14d",
        "name": "",
        "links": [
            "a817eee.a537a1"
        ],
        "x": 45,
        "y": 80,
        "wires": [
            [
                "7680a562.25c84c",
                "53eba691.f0b938",
                "ced77bf5.2936d",
                "de3fc36a.be7b18"
            ]
        ]
    },
    {
        "id": "de3fc36a.be7b18",
        "type": "function",
        "z": "bec9f419.0e14d",
        "name": "Extract Temperature",
        "func": "msg.payload = msg.payload.Temp.toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 80,
        "wires": [
            [
                "f0611fcf.ae7528"
            ]
        ]
    },
    {
        "id": "f0611fcf.ae7528",
        "type": "ui_gauge",
        "z": "bec9f419.0e14d",
        "name": "Temperature gauge",
        "group": "830d47.e8b222b8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatur",
        "label": "",
        "format": "{{value}} °C",
        "min": "-20",
        "max": "40",
        "colors": [
            "#0080c0",
            "#34e401",
            "#ff0000"
        ],
        "seg1": "15",
        "seg2": "30",
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "c6d31807.4ce3f8",
        "type": "ui_gauge",
        "z": "bec9f419.0e14d",
        "name": "Humidity gauge",
        "group": "830d47.e8b222b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luftfeuchtigkeit",
        "label": "",
        "format": "{{value}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 520,
        "y": 120,
        "wires": []
    },
    {
        "id": "3f83a83b.4b5c6",
        "type": "ui_gauge",
        "z": "bec9f419.0e14d",
        "name": "Pressure gauge",
        "group": "830d47.e8b222b8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luftdruck",
        "label": "",
        "format": "{{value}} hPa",
        "min": "900",
        "max": "1100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 520,
        "y": 160,
        "wires": []
    },
    {
        "id": "7680a562.25c84c",
        "type": "function",
        "z": "bec9f419.0e14d",
        "name": "Extract Humidity",
        "func": "msg.payload = msg.payload.Hum.toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 280,
        "y": 120,
        "wires": [
            [
                "c6d31807.4ce3f8"
            ]
        ]
    },
    {
        "id": "53eba691.f0b938",
        "type": "function",
        "z": "bec9f419.0e14d",
        "name": "Extract Pressure",
        "func": "msg.payload = Math.round(msg.payload.Press);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 280,
        "y": 160,
        "wires": [
            [
                "3f83a83b.4b5c6"
            ]
        ]
    },
    {
        "id": "ced77bf5.2936d",
        "type": "function",
        "z": "bec9f419.0e14d",
        "name": "Extract Battery Voltage",
        "func": "msg.payload = msg.payload.BatV.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "57b7fd4a.512944"
            ]
        ]
    },
    {
        "id": "57b7fd4a.512944",
        "type": "ui_gauge",
        "z": "bec9f419.0e14d",
        "name": "Battery Voltage gauge",
        "group": "830d47.e8b222b8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Batterie",
        "label": "",
        "format": "{{value}} V",
        "min": "3",
        "max": "4.2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 540,
        "y": 200,
        "wires": []
    },
    {
        "id": "8ee8886.16e6578",
        "type": "debug",
        "z": "70c5ec59.09af94",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 220,
        "wires": []
    },
    {
        "id": "cf474288.fdd14",
        "type": "link in",
        "z": "c7f5e9a1.d21808",
        "name": "",
        "links": [
            "a817eee.a537a1"
        ],
        "x": 75,
        "y": 100,
        "wires": [
            [
                "b133b33d.1d0e78"
            ]
        ]
    },
    {
        "id": "b133b33d.1d0e78",
        "type": "function",
        "z": "c7f5e9a1.d21808",
        "name": "Create row",
        "func": "msg.payload = {\n    mac: msg.payload.Mac,\n    temp: msg.payload.Temp,\n    hum: msg.payload.Hum,\n    press: msg.payload.Press,\n    batv: msg.payload.BatV\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "f516c949.b70ae"
            ]
        ]
    },
    {
        "id": "f516c949.b70ae",
        "type": "influxdb out",
        "z": "c7f5e9a1.d21808",
        "influxdb": "75ce2e37.f1061",
        "name": "Insert measurement",
        "measurement": "stations",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 420,
        "y": 100,
        "wires": []
    }
]